<header class="grid-container">
  <div class="grid-item">
    <h1>{{ title }}!</h1>
  </div>
  <div class="grid-item-ar">
    <button mat-flat-button (click)="fetchUsers()">New</button>
  </div>
</header>

<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container cdkColumnDef="name">
      <th mat-header-cell *cdkHeaderCellDef>Name</th>
      <td mat-cell *cdkCellDef="let user"> {{user.name}} </td>
    </ng-container>

    <ng-container cdkColumnDef="title">
      <th mat-header-cell *cdkHeaderCellDef>Title</th>
      <td mat-cell *cdkCellDef="let user"> {{user.title}} </td>
    </ng-container>

    <ng-container cdkColumnDef="dob">
      <th mat-header-cell *cdkHeaderCellDef>DOB</th>
      <td mat-cell *cdkCellDef="let user"> {{user.age}} years ago </td>
    </ng-container>

    <ng-container cdkColumnDef="image">
      <th mat-header-cell *cdkHeaderCellDef>Picture</th>
      <td mat-cell *cdkCellDef="let user"> <img src="{{user.image}}" class="user-avatar" /> </td>
    </ng-container>

    <ng-container cdkColumnDef="phone">
      <th mat-header-cell *cdkHeaderCellDef>Phone</th>
      <td mat-cell *cdkCellDef="let user"> {{user.phone}} </td>
    </ng-container>

    <ng-container cdkColumnDef="gender">
      <th mat-header-cell *cdkHeaderCellDef>Gender</th>
      <td mat-cell *cdkCellDef="let user"> {{user.gender}} </td>
    </ng-container>

    <ng-container cdkColumnDef="country">
      <th mat-header-cell *cdkHeaderCellDef>Country</th>
      <td mat-cell *cdkCellDef="let user"> {{user.country}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
